/* general */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Noto+Sans+JP:wght@100..900&family=Roboto&display=swap");
@font-face {
  font-family: "TsukushiARoundGothic";
  src: url("../fonts/Tsukushi A Round Gothic Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background: linear-gradient(180deg, #FFFDFB 30.44%, #F4EBDF 99.99%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.half-form {
  max-width: 482px;
}

@media (max-width: 767px) {
  .container {
    padding-left: 5.128vw;
    padding-right: 5.128vw;
  }
  .half-form {
    max-width: none;
  }
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  word-break: break-word;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
}
a:hover {
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

img {
  max-width: 100%;
  border: none;
  height: auto;
}

main {
  display: block;
}

.height100 {
  height: 100%;
}

.image-fit {
  display: block;
  overflow: hidden;
}
.image-fit img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  line-height: 100%;
}

.list-inline {
  letter-spacing: -0.3em;
}
.list-inline .item-inline {
  letter-spacing: normal;
  vertical-align: top;
  display: inline-block;
}

.inline-middle .item-inline {
  vertical-align: middle;
}

.relative-section {
  position: relative;
}

.section-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.font900 {
  font-weight: 900;
}

.font800 {
  font-weight: 800;
}

.font700 {
  font-weight: 700;
}

.font600 {
  font-weight: 600;
}

.font500 {
  font-weight: 500;
}

.font400 {
  font-weight: 400;
}

.font300 {
  font-weight: 300;
}

.animated-delay2 {
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated-delay3 {
  -webkit-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animated-delay4 {
  -webkit-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.animated-delay5 {
  -webkit-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.animated-delay6 {
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.list-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.flex-three .item-flex {
  width: 33.33%;
}

.flex-two .item-flex {
  width: 50%;
}

.flex-middle {
  align-items: center;
  -webkit-align-items: center;
}

:focus {
  outline: none !important;
}

.toogle-menu {
  border: 0 none;
  display: none;
  height: 23px;
  width: 28px;
  z-index: 999;
  cursor: pointer;
  outline: 0;
  float: right;
  background: none;
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0;
}
.toogle-menu span {
  font-size: 0;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.toogle-menu span::after, .toogle-menu span::before {
  font-size: 0;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  left: 0;
  content: "";
}
.toogle-menu span::after {
  transform: translateY(310%);
}
.toogle-menu span::before {
  transform: translateY(-310%);
}
.toogle-menu.exit span {
  background: transparent;
}
.toogle-menu.exit span::before {
  transform: translateY(0px) rotate(45deg);
}
.toogle-menu.exit span::after {
  transform: translateY(0px) rotate(-45deg);
}

.on-sp {
  display: none !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* header */
#header {
  max-height: 132px;
  display: flex;
  justify-content: space-between;
}
#header a.logo {
  padding: 30px 0 50px 64px;
}
#header .navbar {
  position: relative;
  margin-left: auto;
}
#header .navbar ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 56px;
  position: absolute;
  top: 0;
  padding: 16px 0 45px;
}
#header .navbar ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
#header .navbar span {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #FFFFFF;
}

/* menu */
.menu {
  width: 400px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: block;
  transform: translateX(100%);
  transition: all 0.3s linear;
  z-index: 10;
}
.menu.show {
  transform: translateX(0);
}
.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  padding-top: 80px;
}
.menu ul a {
  color: #797271;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 10px;
  margin: 0 10px;
  display: block;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  border-bottom: 1px solid #797271;
  transition: all 0.3s ease-in;
}
.menu ul a:hover {
  opacity: 0.8;
}
.menu .menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
}

.breadcrumb {
  margin-top: 4px;
  margin-bottom: 44px;
}
.breadcrumb ul {
  display: flex;
  align-items: center;
}
.breadcrumb ul li {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #797271;
}
.breadcrumb ul li + li::before {
  padding: 0 17px;
  background-image: url("../../assets/images/global/arrow-right.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 16px;
  height: 20px;
  content: "";
}
.breadcrumb ul a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
  color: #797271;
}

@media (max-width: 767px) {
  #header {
    height: 15vw;
    max-height: 80px;
    margin-bottom: 2.089vw;
    width: 100%;
    position: fixed;
    padding: 0 2.611vw;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  #header a.logo {
    max-width: 34vw;
    padding: 0;
  }
  #header .navbar {
    flex: 1;
    margin-top: 0;
    height: 100%;
  }
  #header .navbar ul {
    padding: 0;
    justify-content: right;
    gap: 0 5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #header .navbar > img {
    display: none;
  }
  #header .navbar li img {
    filter: invert(1);
    width: 6.154vw;
    height: 6.154vw;
  }
  #header .navbar a span {
    display: none;
  }
  .breadcrumb {
    padding-top: 17vw;
    margin-top: 1.026vw;
    margin-bottom: 7.692vw;
  }
  .breadcrumb ul {
    align-items: center;
  }
  .breadcrumb ul li {
    display: flex;
    align-items: center;
  }
  .breadcrumb ul li + li::before {
    padding: 0 2vw;
    background-size: 4.103vw 4.103vw;
  }
  .breadcrumb ul li, .breadcrumb ul a {
    font-size: 3.5vw;
  }
  .menu {
    max-width: 80vw;
  }
  .menu ul {
    padding-top: 20vw;
  }
  .menu ul a {
    font-size: 3.5vw;
    padding: 1.5vw 2vw;
  }
  .menu-close {
    top: 2.611vw;
    right: 2vw;
  }
  .menu-close img {
    width: 6vw;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  #header {
    height: 100px;
    margin-bottom: 2.089vw;
    width: 100%;
    position: fixed;
    padding: 0 2.611vw;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  #header a.logo {
    max-width: 240px;
    padding: 0;
  }
  #header .navbar {
    flex: 1;
    margin-top: 0;
    height: 100%;
  }
  #header .navbar ul {
    padding: 0;
    justify-content: right;
    gap: 0 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #header .navbar > img {
    display: none;
  }
  #header .navbar li img {
    filter: invert(1);
    width: 42px;
    height: 42px;
  }
  #header .navbar a span {
    display: none;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .menu {
    width: 500px;
  }
  .menu ul {
    padding-top: 120px;
  }
  .menu ul a {
    font-size: 24px;
    padding: 10px 20px;
  }
  .menu-close {
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
  }
  .menu-close img {
    width: 100%;
  }
  .breadcrumb {
    padding-top: 120px;
  }
  .breadcrumb ul {
    align-items: center;
  }
  .breadcrumb ul li {
    display: flex;
    align-items: center;
  }
  .breadcrumb ul li + li::before {
    padding: 0 20px;
    background-size: 26px 26px;
  }
  .breadcrumb ul li, .breadcrumb ul a {
    font-size: 28px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #header a.logo {
    padding-left: 20px;
  }
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
  #header a.logo {
    padding-left: 20px;
  }
  .container {
    padding: 0 20px;
  }
}
/* footer */
#footer {
  padding-bottom: 28px;
}
#footer .footer-container {
  display: flex;
  justify-content: center;
  gap: 0 240px;
  padding-top: 198px;
  padding-bottom: 140px;
  padding-left: 240px;
  padding-right: 397px;
}
#footer .footer-info {
  display: flex;
  flex-direction: column;
}
#footer .footer-info ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 24px;
  margin-bottom: 20px;
}
#footer .footer-info p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.12em;
  text-align: center;
  color: #797271;
}
#footer .footer-logo {
  display: block;
  width: 100%;
  margin-bottom: 60px;
}
#footer .footer-grid {
  display: flex;
  gap: 0 80px;
}
#footer .footer-column li a {
  display: inline-block;
  margin-bottom: 16px;
  white-space: nowrap;
}
#footer .footer-column li img {
  vertical-align: 7px;
  margin-right: 6px;
}
#footer .footer-column a, #footer .footer-column span {
  font-family: "Tsukushi A Round Gothic";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #797271;
}
#footer .footer-column a {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Tsukushi A Round Gothic";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #797271;
  text-decoration: none;
  white-space: nowrap;
}
#footer .footer-column a.font-24 {
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
}
#footer .footer-column a.font-18 {
  font-size: 18px;
  line-height: 31.5px;
}
#footer .footer-column a.mb-32 {
  margin-bottom: 32px;
  display: inline-block;
}
#footer p.copy-right {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.5px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #797271;
  transform: translateX(-29px);
}

@media (max-width: 767px) {
  #footer {
    padding: 3vw 2.611vw;
  }
  #footer .footer-container {
    padding: 4vw 2.8vw;
    width: 100%;
    margin: 0 auto;
    gap: 6vw 0;
    flex-direction: column;
  }
  #footer .footer-info {
    align-items: center;
  }
  #footer .footer-info ul {
    gap: 0 4.439vw;
    margin-bottom: 4.5vw;
  }
  #footer .footer-info ul img {
    width: 5vw;
    height: 5vw;
  }
  #footer .footer-info p {
    font-size: 2.5vw;
  }
  #footer .footer-logo {
    max-width: 50vw;
    margin-bottom: 5vw;
  }
  #footer .footer-logo img {
    width: 100%;
  }
  #footer .footer-grid {
    flex-direction: column;
    align-items: center;
    gap: 2.611vw 0;
  }
  #footer .footer-column {
    width: 100%;
    text-align: center;
  }
  #footer .footer-column li a, #footer .footer-column li span {
    font-size: 3.733vw;
    margin-bottom: 2.35vw;
    line-height: 1.5;
  }
  #footer .footer-column a.font-18, #footer .footer-column a.font-24 {
    font-size: 4vw;
    line-height: 1.5;
  }
  #footer .footer-column a.mb-32 {
    margin-bottom: 2.35vw;
  }
  #footer .footer-column li img {
    margin-right: 0.522vw;
    vertical-align: 0.522vw;
    height: 1.567vw;
    width: 1.305vw;
  }
  #footer p.copy-right {
    font-size: 2.5vw;
    transform: translateX(0);
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  #footer {
    padding-top: 80px;
  }
  #footer .footer-container {
    padding: 40px 20px;
    width: 100%;
    margin: 0 auto;
    gap: 40px 0;
    flex-direction: column;
  }
  #footer .footer-logo {
    max-width: 300px;
    margin-bottom: 30px;
  }
  #footer .footer-logo img {
    width: 100%;
  }
  #footer .footer-info {
    align-items: center;
  }
  #footer .footer-info ul img {
    width: 28px;
    height: 28px;
  }
  #footer .footer-grid {
    flex-direction: row;
    gap: 20px 80px;
    justify-content: center;
  }
  #footer .footer-column {
    text-align: left;
  }
  #footer .footer-column a {
    font-size: 20px;
  }
  #footer .footer-column a.mb-32 {
    margin-bottom: 24px;
  }
  #footer .footer-column li img {
    margin-right: 6px;
    vertical-align: 6px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #footer .footer-container {
    padding: 40px 20px;
    width: 100%;
    margin: 0 auto;
    gap: 60px 0;
    flex-direction: column;
  }
  #footer .footer-logo {
    max-width: 300px;
    margin-bottom: 30px;
  }
  #footer .footer-logo img {
    width: 100%;
  }
  #footer .footer-info {
    align-items: center;
  }
  #footer .footer-info ul img {
    width: 28px;
    height: 28px;
  }
  #footer .footer-grid {
    flex-direction: row;
    gap: 20px 100px;
    justify-content: center;
  }
  #footer .footer-column {
    text-align: left;
  }
  #footer .footer-column a {
    font-size: 20px;
  }
  #footer .footer-column a.mb-32 {
    margin-bottom: 24px;
  }
  #footer .footer-column li img {
    margin-right: 6px;
    vertical-align: 6px;
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
  #footer .footer-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  #footer .footer-logo {
    max-width: 320px;
    margin-bottom: 30px;
  }
  #footer .footer-logo img {
    width: 100%;
  }
}
/* pages */
.register {
  margin-bottom: 120px;
}
.register-container {
  max-width: 858px;
  margin: 0 auto;
  text-align: center;
}
.register .cta-form {
  margin-bottom: 80px;
}
.register .cta-form h2 {
  margin-bottom: 24px;
  color: #797271;
  font-family: "Noto Sans JP";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 175%; /* 56px */
  letter-spacing: 3.2px;
}
.register .cta-form p {
  color: #797271;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 35px */
  letter-spacing: 0.4px;
}
.register form {
  margin-bottom: 120px;
}
.register form .form-main {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  margin-bottom: 160px;
}
.register form .form-group {
  text-align: left;
}
.register form .form-group > label {
  display: block;
  width: 100%;
  position: relative;
  color: #797271;
  font-family: "Noto Sans JP";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.48px;
  line-height: normal;
  text-align: left;
  margin-bottom: 16px;
}
.register form .form-group .tag-required {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  margin-left: 16px;
  padding: 2px 12px 3px;
  color: #fff;
  background-color: #797271;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 28px */
  letter-spacing: 0.64px;
}
.register form .form-group input {
  width: 100%;
  height: 80px;
  flex: 0;
  padding-top: 21.11px;
  padding-bottom: 20px;
  padding-left: 28.61px;
  padding-right: 28.61px;
  border-radius: 40px;
  border: 1px solid #797271;
  background: #FFF;
  font-size: 24px;
  font-weight: 300;
  line-height: 34.75px;
  font-family: "Noto Sans JP", sans-serif;
}
.register form .form-group .form-check {
  display: flex;
  gap: 0 40px;
}
.register form .form-group .form-check li {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.register form .form-group .form-check label {
  color: #797271;
  font-family: "Noto Sans JP";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.register form .form-group .form-check input {
  min-width: 24px;
  min-height: 24px;
  margin-top: -1px;
  border-color: #797271;
  cursor: pointer;
}
.register form .form-group .form-check input:checked {
  accent-color: #797271;
}
.register form .form-group .form-select {
  display: flex;
  gap: 0 24px;
}
.register form .form-group .form-select #month,
.register form .form-group .form-select #date,
.register form .form-group .form-select #child-month,
.register form .form-group .form-select #child-date {
  padding-top: 19px;
  padding-bottom: 26px;
}
.register form .form-group .form-select select {
  width: 270px;
  height: 80px;
  padding: 0 23.73px;
  position: relative;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #797271;
  outline: none;
  background-color: #FFF;
  color: var(--Dark-gray, #797271);
  font-family: "Noto Sans JP";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../../../assets/images/register/arrow-up.svg") no-repeat;
  background-position: calc(100% - 24px) center;
  background-size: auto;
}
.register form .form-group .form-select select::-ms-expand {
  display: none;
}
.register form .form-group .form-select option {
  color: #797271;
  font-family: "Noto Sans JP";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.register form .form-group-inner {
  position: relative;
}
.register form .form-group-inner input {
  border: 1px solid #797271;
  padding-left: 24.1px;
}
.register form .form-group-inner img {
  display: block;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  cursor: pointer;
}
.register form .form-group-inner img:hover {
  opacity: 0.8;
}
.register form .add-info {
  padding: 13px 20px;
  display: inline-block;
  color: #797271;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  border-radius: 10px;
  border: 1px solid #797271;
  background: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.register .privacy-policy {
  color: #1D96D6;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
  text-decoration-line: underline;
}
.register span {
  color: #797271;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
}
.register .form-policy {
  display: flex;
  align-items: center;
  gap: 0 12px;
}
.register .form-policy > input.check-policy {
  min-width: 24px;
  height: 24px;
  cursor: pointer;
}
.register .form-policy > input.check-policy:checked {
  accent-color: #797271;
}
.register .form-zip-code {
  display: flex;
  margin-bottom: 16px;
  gap: 0 89px;
}
.register .form-zip-code label {
  position: relative;
  color: #797271;
  font-family: "Noto Sans JP";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.02em;
}
.register .form-zip-code span {
  color: var(--Dark-gray, #797271);
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 35.2px;
  letter-spacing: 0.48px;
  white-space: nowrap;
}
.register .btn-register {
  max-width: 360px;
  padding: 15px 132px;
  color: #FFF;
  font-family: "Tsukushi A Round Gothic";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 175%; /* 42px */
  outline: none;
  border: none;
  border-radius: 45px;
  background: #B2CE7C;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.register .btn-register:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .register {
    margin-bottom: 15.385vw;
  }
  .register .cta-form {
    margin-top: 7.179vw;
    margin-bottom: 7.179vw;
  }
  .register .cta-form h2 {
    font-size: 5.128vw;
    margin-bottom: 2.564vw;
  }
  .register .cta-form p {
    font-size: 4.103vw;
  }
  .register .cta-form br {
    display: none;
  }
  .register form {
    gap: 5.222vw 0;
    margin-bottom: 7.692vw;
  }
  .register form .form-main {
    gap: 5.128vw 0;
    margin-bottom: 15.385vw;
  }
  .register form .form-group > label {
    font-size: 3.5vw;
    margin-bottom: 2.5vw;
  }
  .register form .form-group .tag-required {
    margin-left: 2.089vw;
    font-size: 2.564vw;
    line-height: 1.5;
    padding: 0.261vw 1.567vw 0.392vw;
    border-radius: 1.026vw;
  }
  .register form .form-group input {
    height: 12vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 3.735vw;
    padding-right: 3.735vw;
    border-radius: 5.222vw;
    font-size: 3.5vw;
    color: #797271;
  }
  .register form .form-group .form-check {
    gap: 0 4.7vw;
  }
  .register form .form-group .form-check li {
    display: flex;
    align-items: center;
  }
  .register form .form-group .form-check label {
    font-size: 3.5vw;
  }
  .register form .form-group .form-check input {
    min-width: 5.128vw;
    min-height: 5.128vw;
    border-color: #797271;
  }
  .register form .form-group .form-select {
    display: flex;
    flex-direction: column;
    gap: 6.154vw 0;
  }
  .register form .form-group .form-select #month,
  .register form .form-group .form-select #date,
  .register form .form-group .form-select #child-month,
  .register form .form-group .form-select #child-date {
    padding-top: 0;
    padding-bottom: 0;
  }
  .register form .form-group .form-select select {
    width: 100%;
    height: 12vw;
    padding: 0 3.098vw;
    font-size: 3.5vw;
  }
  .register form .form-group .form-select option {
    font-size: 3.5vw;
  }
  .register form .add-info {
    padding: 3.59vw 5.128vw;
    font-size: 3.5vw;
  }
  .register .privacy-policy {
    font-size: 3.333vw;
  }
  .register span {
    font-size: 4.103vw;
  }
  .register .form-policy {
    gap: 0 2.564vw;
  }
  .register .form-policy > input.check-policy {
    min-width: 5.128vw;
    height: 5.128vw;
  }
  .register .form-group-inner img {
    right: 6.154vw;
    width: 6.154vw;
  }
  .register .form-zip-code {
    margin-bottom: 4.103vw;
    gap: 0 14.872vw;
    align-items: center;
  }
  .register .form-zip-code label {
    font-size: 3.5vw;
  }
  .register .form-zip-code span {
    font-size: 2.564vw;
  }
  .register .btn-register {
    padding: 12px 100px;
    font-size: 4.103vw;
    font-weight: 500;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .register {
    margin-bottom: 40px;
  }
  .register .form-group .form-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px 30px;
    flex-wrap: wrap;
  }
  .register .form-group select {
    min-width: 300px;
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
